<section id="prodyct__ss">
</section>
{% if section.settings.checkk != blank %}
<section  class="collection--ssd" >
  <div class="owl-carousel owl-theme" id="owl--newi">
    {% for block in section.blocks %}
    <div class="items">
      <a href="{{block.settings.lnks}}">
        <img src="{{block.settings.imgc | img_url: 'master' }}">
        <h6>{{block.settings.dfrr}}</h6>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
{% else %}
<div class="margin--productcoloe">
</div>

{% endif %}
{% schema %}
  {
    "name": "Collection Slider",
    "settings": [
           {
				"label": "Hide/Show",
				"type": "checkbox",
				"id": "checkk",
				"default": false
			}
],
"blocks":[
	{
		"name": "Collection Slider",
		"type": "block-q",
		"settings":[
			
			{
				"label": "Image",
				"type":"image_picker",
				"id": "imgc"
			},
			{
				"label": "Title",
				"type": "text",
				"id": "dfrr"
			},
			{
				"label": "Link",
				"type": "url",
				"id": "lnks"
			}
]
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
